/* Default custom select styles */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */ }

.cs-select select {
  display: none; }

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em; }

.cs-select > span::after, .cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cs-select > span::after {
  content: '\25BE';
  right: 1em; }

.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em; }

.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

div.cs-active {
  z-index: 200; }

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden; }

.cs-select.cs-active .cs-options {
  visibility: visible; }

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.cs-select ul span {
  padding: 1em; }

.cs-select ul li.cs-focus span {
  background-color: #ddd; }

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em; }

.cs-select li.cs-optgroup > span {
  cursor: default; }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?-rdnm34');
  src: url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'), url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'), url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

div.cs-skin-border {
  font-size: 2em;
  font-weight: 700;
  max-width: 600px; }

@media screen and (max-width: 30em) {
  div.cs-skin-border {
    font-size: 1em; } }

.cs-skin-border > span {
  border: 5px solid #000;
  border-color: inherit;
  -webkit-transition: background 0.2s, border-color 0.2s;
  transition: background 0.2s, border-color 0.2s; }

.cs-skin-border > span::after, .cs-skin-border .cs-selected span::after {
  font-family: 'icomoon';
  content: '\e000'; }

.cs-skin-border ul span::after {
  content: '';
  opacity: 0; }

.cs-skin-border .cs-selected span::after {
  content: '\e00e';
  color: #ddd9c9;
  font-size: 1.5em;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cs-skin-border.cs-active > span {
  background: #fff;
  border-color: #fff;
  color: #2980b9; }

.cs-skin-border .cs-options {
  color: #2980b9;
  font-size: 0.75em;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s; }

.cs-skin-border.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cs-skin-border ul span {
  padding: 1em 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.cs-skin-border .cs-options li span:hover, .cs-skin-border li.cs-focus span {
  background: #f5f3ec; }

/* Custom Styles */
html {
  background: url(../images/shattered.png); }

.container {
  width: 600px;
  padding: 40px 30px 0; }

.current {
  margin-top: 50px;
  height: 200px;
  border: 5px solid #000;
  text-align: center; }

.thermometer {
  width: 600px;
  height: 270px;
  margin-top: 20px; }
  .thermometer .city {
    padding: 15px 0;
    background: #fff;
    text-align: center;
    border: 5px solid #000;
    margin-top: 0; }
  .thermometer .record-low {
    height: 260px;
    width: 130px;
    border: 5px solid #000;
    border-radius: 10px;
    float: left;
    background: #fff; }
  .thermometer .record-high {
    height: 260px;
    width: 130px;
    border: 5px solid #000;
    border-radius: 10px;
    float: left;
    background: #fff; }
  .thermometer .record-info {
    text-align: center; }
    .thermometer .record-info .temp-label {
      margin-top: 5px; }
      .thermometer .record-info .temp-label .temp-val {
        font-size: 3.2em; }
      .thermometer .record-info .temp-label i {
        font-size: 3.2em; }
    .thermometer .record-info h2 {
      background: #000;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.8em;
      margin: 0;
      padding: 10px 0; }
    .thermometer .record-info h3 {
      font-size: 2em;
      margin: 15px 0 0; }
  .thermometer .weather-icon {
    width: 130px;
    height: 100px;
    font-size: 80px;
    margin: auto;
    text-align: center; }
    .thermometer .weather-icon.wi {
      line-height: initial; }
  .thermometer .thermometer-wrapper {
    width: 320px;
    float: left; }
    .thermometer .thermometer-wrapper .thermometer-scale {
      position: relative;
      border-bottom: 5px solid #000;
      width: 320px;
      height: 130px;
      display: inline-block; }
      .thermometer .thermometer-wrapper .thermometer-scale .marker-label {
        text-align: center;
        padding: 25px 0;
        font-size: 3em;
        color: rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
        font-family: monospace; }
      .thermometer .thermometer-wrapper .thermometer-scale .ther-marker {
        position: absolute;
        display: inline-block;
        width: 80px;
        height: 80px;
        border: 5px solid #000;
        border-radius: 99999px;
        text-align: center;
        background: rgba(255, 255, 255, 0.7); }
        .thermometer .thermometer-wrapper .thermometer-scale .ther-marker .temp-label {
          font-size: 2em;
          padding-top: 25px; }
          .thermometer .thermometer-wrapper .thermometer-scale .ther-marker .temp-label .deg {
            font-size: 0.8em;
            vertical-align: top; }
          .thermometer .thermometer-wrapper .thermometer-scale .ther-marker .temp-label .temp-unit {
            font-size: 0.5em;
            vertical-align: top; }
        .thermometer .thermometer-wrapper .thermometer-scale .ther-marker.top-marker {
          left: 120px;
          bottom: 40px;
          -webkit-transition: left 1s;
          transition: left 1s; }
          .thermometer .thermometer-wrapper .thermometer-scale .ther-marker.top-marker:after {
            content: " ";
            position: absolute;
            bottom: -50px;
            height: 45px;
            border: 2.5px solid #000; }
          .thermometer .thermometer-wrapper .thermometer-scale .ther-marker.top-marker h3 {
            position: absolute;
            top: -40px;
            text-transform: uppercase;
            font-size: 1em;
            text-align: center; }
        .thermometer .thermometer-wrapper .thermometer-scale .ther-marker.bottom-marker {
          left: 120px;
          bottom: -140px;
          -webkit-transition: left 1s;
          transition: left 1s; }
          .thermometer .thermometer-wrapper .thermometer-scale .ther-marker.bottom-marker:after {
            content: " ";
            position: absolute;
            top: -50px;
            height: 45px;
            border: 2.5px solid #000; }
          .thermometer .thermometer-wrapper .thermometer-scale .ther-marker.bottom-marker h3 {
            position: absolute;
            bottom: -40px;
            text-transform: uppercase;
            font-size: 1em;
            text-align: center; }
        .thermometer .thermometer-wrapper .thermometer-scale .ther-marker.center-marker {
          left: 120px;
          bottom: -50px;
          -webkit-transition: left 1s;
          transition: left 1s; }
  .thermometer .bottom-row {
    padding-top: 20px; }
    .thermometer .bottom-row textarea {
      border: 5px solid #4F4F4F;
      border-radius: 8px; }
    .thermometer .bottom-row .reset {
      float: right;
      height: 50px;
      width: 50px;
      background: #ddd;
      border: 3px solid #4F4F4F;
      border-radius: 8px;
      color: #4F4F4F;
      text-align: center; }
      .thermometer .bottom-row .reset:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
      .thermometer .bottom-row .reset:active {
        background: #4F4F4F;
        color: #ddd; }
        .thermometer .bottom-row .reset:active i {
          transform: rotate(1turn); }
      .thermometer .bottom-row .reset i {
        font-size: 4em;
        line-height: 50px;
        transition: transform 0.3s; }

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }
